* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_links {
    font-weight: 500;
    color: #e7ab3c;
    padding: 0.5rem;
    justify-content: flex-end;
    position: relative;
    align-items: flex-end;
}

/* .nav-links:hover {
    color: #e7ab3c;
    background-color: #f0f0f2;
    cursor: pointer;
    transition: ease-out all 0.2s;
} */

.logo {
    justify-content: space-between;
    align-items: flex-start;
}


.logo h2 {

    color: #e7ab3c;

    font-family: 'Dancing Script', cursive;

    justify-content: flex-start;

    align-items: flex-start;

}



.logo h2::before {

    color: #e7ab3c;
    font-size: 3rem;
}



.logo h2::after {
    color: #e7ab3c;
    font-size: 3rem;

}