*{

}

.nav-background {
      background-color: #3D405B;
  }

  .form-header{
    text-align: center;
    color: #e7ab3c;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.3rem;
}

.card{
  background-color: #e7ab3c;
}

.btn-update{
  width: 15rem;
  border: none;
  padding: 5px;
  background-color:#3D405B;
  margin-left: 25%;
  color: white;
}

.btn-cancel{
  margin-left: 25%;
  width: 15rem;
  border: none;
  display: inline-block;
  padding: 5px;
  color: #3D405B;
}
.shadow{
  box-shadow: #3D405B 0px 3px 8px;
}